body {
  background-color: #fff;
  margin: 15px 50px;
  font-family: Lucida Grande, Verdana, Sans-serif;
  font-size: .9em;
  color: #3e4044;
}
abbr[title] { cursor:help; }
a img { border:none; }
a {
  color: #003399;
  background-color: transparent;
  font-weight: normal;
}
a:focus {
  border: 1px dotted red;
}
p, li {
  line-height: 1.4em;
}
h1 {
  color: #444;
  background-color: transparent;
  border-bottom: 1px solid #D0D0D0;
  font-size: 1.2em;
  font-weight: bold;
  margin: 24px 0 2px 0;
  padding: 5px 0 6px 0;
}
code {
  font-family: Monaco, Verdana, Sans-serif;
  background-color: #f9f9f9;
  border: 1px solid #D0D0D0;
  color: #002166;
  display: block;
  margin: 14px 0 14px 0;
  padding:12px 10px 12px 10px;
}
#header {
  font-size: medium;
/* http://lh6.ggpht.com/_jU8d1WdVVKA/SqE6t7bdrmI/AAAAAAAAAyI/KR2DPuYdCS0/MALTWI_5.png */
  background: url(maltlogo-1.png) no-repeat left;
  color: rgb(34,59,70); /*(53,94,111)*/
  height: 83px;
  padding-left:95px;
}
#header #text {
  font-size: 1.8em;
  font-weight: bold;
  margin-bottom: .3em;
  letter-spacing:.08em;
  word-spacing:  -.2em;
}
#header small {
  font-weight: normal;
  color: #888;
  word-spacing: -.4em;
  vertical-align: top;
}
#header #strap {
  letter-spacing:-0em;
}
#recent_media img {
  width:120px; height:90px;
}
#recent_media a { text-decoration:none; }
#recent_media a span { text-decoration:underline; }
.cloudworks {
  padding-right: 25px;
  background: url(http://cloudworks.ac.uk/_design/icon-cloudscape.gif) no-repeat top right;   
}

.__oembed a { /*@todo Prevent 'blink' - Javascript? */
  position: absolute;
  top: -999em;
}
.oembed iframe {
 display:block;
 margin:0 auto;
 border:1px solid #bbb !important;
 -moz-border-radius:6px; -webkit-border-radius:6px;
}
